.popmenu-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
}
[role='popmenu'] {
	  position: absolute;
    display: block;
    min-width: 13em;
    max-width: 26em;
    padding: 0 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    list-style-type: none;
    background: #f7f7f7;
    border: 1px solid #bebebe;
}
[role='popmenu'] li {
	  position: relative;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    color: #2f2f2f;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #f7f7f7;
    white-space: nowrap;
}
[role='popmenu'] hr {
    border: 0;
    border-bottom: 1px solid #eee;
}
.popmenu-hover {
	background-color: #3559ac !important;
  color: #fff !important;
  x-webkit-transform: translateX(2%);
  x-ms-transform: translateX(2%);
  x-o-transform: translateX(2%);
  xtransform: translateX(2%);
  white-space: nowrap;
}
.fa {
  color: #3559ac;
}
.popmenu-hover .fa {
  color: #999;
}

